@tailwind base;
@tailwind components;

.pnf {
    display: flex;
    min-height: 65vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pnf-title {
    font-size: 100px;
    font-weight: 700;
}

.pnf-heading {
    font-weight: normal;
}

.pnf-btn {
    color: white;
    border: 1px solid black;
    text-decoration: none;
    padding: 10px;
    margin-top: 10px;
}

.pnf-btn:hover {
    background-color: black;
    color: white;
}

/* =========contact us ========= */
.contactus {
    margin: 0;
    padding: 0;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.activeHeader {
    color: #2563EB;
    border-bottom: 10px;
    border-bottom-width: 2px;
    border-color: #EF4444;
}

.card {
    position: relative;
}

.user {
    position: absolute;
    top: 100px;
    right: 145px;
}

@tailwind utilities;